.soapui span {
  font-weight: bold;
}

.soapui textarea {
  width: 80%;
  display: block;
  font-size: .85em;
  line-height: 1.2em;
  overflow: auto;
  height: 200px;
  cursor: pointer;
  background-color: #fcf6db;
  border: 1px solid #e5e0c6;
}

.soapui input[type=text] {
  width: 80%;
  display: block;
}

.soapui select {
  margin-right: 10px;
}

.soapui .hidden {
  display: none;
}

div.soapui {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 10px;
}

.soapui h2 {
  color: #999999;
  font-family: "Droid Sans", sans-serif;
  font-weight: bold;
  font-size: 0.9em;
}
